@model TravelTripProje.Models.Siniflar.Contact
@{
    ViewBag.Title = "ContactGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Okur Geri Dönüşü Güncelleme Sayfası</h2>                                           @*Hakkında Güncelleme Sayfası*@
<br />
@using (Html.BeginForm("ContactGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.AdSoyad)
    @Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Url)
    @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Mesaj)
    @Html.TextAreaFor(x => x.Mesaj, 10, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Hakkında Güncelle</button>
}


